$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

table {
  margin: 0 auto;
  text-align: left;
  padding: 0 20px;
}

.main_table {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
  min-height: 300px;
  text-align: center;
  padding: 0;
}

.main_td {
  border: 1px solid black;
  text-align: center;
  padding: 0 15px;
}

tr {
  border: 1px solid black;
}

td {
  height: 45px;
}
